# Need approval from these core developers before merging any change 
*.go @portworx/torpedo-codeowners 
.Makefile @mborodin-px @aghodke1312 @pureneelesh @CharudathGopal
.Dockerfile @mborodin-px @aghodke1312 @pureneelesh @CharudathGopal
