sudo: required
dist: trusty
services:
  - docker
language: go
go:
  - 1.8.3
before_install:  
  - sudo apt-get update -yq
  - sudo apt-get -o Dpkg::Options::="--force-confnew" install -yq docker-ce
script:
  - make all
  - if [ "${TRAVIS_BRANCH}" == "master" ] && [ "${TRAVIS_PULL_REQUEST}" == "false" ]; then 
      docker login -u="${DOCKER_USER}" -p="${DOCKER_PASS}";
      make deploy;
    fi
notifications:
  email:
    recipients:
      - aditya@portworx.com
      - piyush@portworx.com
      - jv@portworx.com
      - harsh@portworx.com
    on_success: always
    on_failure: always
