apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-longevity-multi-disk
  labels:
    app: containerized-data-importer
  annotations:
    cdi.kubevirt.io/storage.import.endpoint: http://kubevirt-disk-registry.pwx.dev.purestorage.com/mysql-postgres-sysbench.qcow2
    cdi.kubevirt.io/storage.usePopulator: "false"
spec:
  storageClassName: kubevirt-longevity-multi-disk-sc
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
