##### Portworx storage class
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: fio-sc-iobw
provisioner: kubernetes.io/portworx-volume
parameters:
  {{ if .Repl }}
  repl: "{{ .Repl }}"
  {{ else }}
  repl: "2"{{ end }}
  priority_io: "high"
  io_profile: "db_remote"
  io_throttle_wr_iops: "1024"
  io_throttle_rd_bw: "10"
allowVolumeExpansion: true
---
##### Portworx storage class
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: fio-log-iobw
provisioner: kubernetes.io/portworx-volume
parameters:
  {{ if .Repl }}
  repl: "{{ .Repl }}"
  {{ else }}
  repl: "3"{{ end }}
  priority_io: "high"
  io_profile: "db_remote"
  io_throttle_wr_iops: "1024"
  io_throttle_rd_bw: "10"
allowVolumeExpansion: true
